@model HospitalApp.Models.Doktor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doktor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoktorId" />
            <div class="form-group">
                <label asp-for="DoktorAd" class="control-label"></label>
                <input asp-for="DoktorAd" class="form-control" />
                <span asp-validation-for="DoktorAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DalId" class="control-label"></label>
                <select asp-for="DalId" class="form-control" asp-items="@(ViewBag.DalId as SelectList)"></select>
                <span asp-validation-for="DalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolId" class="control-label"></label>
                <select asp-for="PolId" class="form-control" asp-items="@(ViewBag.PolId as SelectList)"></select>
                <span asp-validation-for="PolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
