@model string

<h2>Forgot Password</h2>
<hr>
<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label>Email:</label>
        <input type="email" name="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
</form>
