@model LoginViewModel

@{
    Layout = "_LayoutLogin";
}





<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
            <h4 class="company_title"><img src="~/css/saygi-hastanesi-logo.png" alt=""></h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h2>Log In</h2>
                </div>
                <div class="row">
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="mb-2">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control">
                        </div>

                        <div class="mb-2">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control">
                        </div>

                        <div class="form-check mb-2">
                            <input asp-for="RememberMe" class="form-check-input">
                            <label asp-for="RememberMe" class="form-check-label"></label>
                        </div>

                        <button type="submit" class="btn btn-primary">Giriş Yap</button>
                        <a asp-action="ForgotPassword" class="btn btn-warning">Şifemi Unuttum</a>
                        
                    </form>
                </div>
                
                   
                
            </div>
        </div>
    </div>
</div>